@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@font-face {
   font-family: 'Pulso';
   src:
      url(../fonts/Pulso-Regular.woff2) format('woff2'),
      url(../fonts/Pulso-Regular.woff) format('woff'),
      url(../fonts/Pulso-Regular.ttf) format('truetype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Pulso';
   src:
      url(../fonts/Pulso-Light.woff2) format('woff2'),
      url(../fonts/Pulso-Light.woff) format('woff'),
      url(../fonts/Pulso-Light.ttf) format('truetype');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Pulso';
   src:
      url(../fonts/Pulso-Bold.woff2) format('woff2'),
      url(../fonts/Pulso-Bold.woff) format('woff'),
      url(../fonts/Pulso-Bold.ttf) format('truetype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/****** VARIOS ******/
html {
   scroll-behavior: smooth;
}

:root {
   --base-color: #140232;
   --base-color-dark: #0a011b;
   --dark-gray: #2b2b2f;
   --medium-gray: #7a777e;
   --alt-font: 'Roboto', sans-serif;
   --primary-font: 'Roboto', sans-serif;
}
body {
   font-size: 17px;
}
a {
   transition: all 0.2s ease-in-out;
}
a:hover.text-base-color.bg-white {
   opacity: 0.65;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
   background: var(--base-color);
   opacity: 0.9;
}
.sticky .header-transparent .header-button .btn {
   background-color: transparent;
   border-color: var(--white);
   color: var(--white);
}
.sticky .header-transparent .header-button .btn:hover {
   background-color: var(--white);
   color: var(--base-color);
   border-color: var(--white);
}
.navbar .navbar-nav .nav-link {
   font-weight: 400;
}
header .navbar-brand img {
   max-height: 35px;
}
.header-icon .icon > a {
   font-size: 16px;
}

header .btn.btn-rounded.btn-small {
   padding: 10px 32px;
}

.header-icon .icon .header-language > a,
.header-icon .icon .header-cart > a {
   font-size: 16px;
}
.navbar .btn {
   font-size: 15px;
   font-weight: 400 !important;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu {
   width: 350px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li a .submenu-icon-content {
   line-height: 22px;
   letter-spacing: normal;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li a span {
   font-weight: 500;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li a p {
   font-size: 14px;
   color: var(--medium-gray);
   letter-spacing: normal;
   font-weight: 400;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li a img {
   width: 65px;
}

header.sticky .navbar {
   background-color: #140232cc !important;
   transform: unset;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(10px);
}

header .navbar-brand .default-logo,
header.sticky.sticky-active .navbar-brand .alt-logo {
   transition: all 0.5s ease-in-out;
}

.bg-gradient-black-transparent {
   background: linear-gradient(306deg, rgba(0, 0, 0, 0.5) 0%, rgba(240, 244, 253, 0) 55%);
}
.bg-midnight-blue {
   background-color: #1c1c1f;
}
.bg-dark-midnight-blue {
   background-color: var(--base-color);
}

.bg-sit-dark {
   background-color: var(--base-color-dark);
}

.b .bg-base-color-transparent {
   background-color: rgba(217, 10, 44, 0.9);
}
.body-text-color {
   color: #666469;
}
a {
   color: #666469;
}
.btn-dark-midnight-blue {
   background-color: #191932;
   color: var(--white);
}
.btn-dark-midnight-blue:hover {
   background-color: var(--white);
   color: #191932;
}
.border-color-dark-blue {
   border-color: #303047 !important;
}
footer a {
   color: var(--medium-gray);
}
.footer-navbar a {
   padding: 8px 18px;
}
footer .footer-logo img {
   max-height: 35px;
}
.footer-navbar .nav-link:focus,
.footer-navbar .nav-link:hover {
   color: var(--base-color);
}

.input-small,
.textarea-small {
   font-size: 15px;
}
.newsletter-style-01 input,
.newsletter-style-01 input.is-invalid {
   padding-right: 70px;
}
.time-table-box {
   flex-basis: 25%;
   padding: 40px 10px;
}
.inner-box > div {
   line-height: initial;
   margin-top: 7px;
}
.countdown-style-02 .countdown-box .number {
   font-weight: 500;
}
.countdown-style-02 .countdown-box span {
   font-size: 15px;
   color: #fff;
   opacity: 0.5;
   font-weight: 400;
}
.countdown-style-02 .countdown-box:before {
   color: var(--base-color);
   opacity: 1;
}
.page-title-extra-large h1 {
   font-size: 7.5rem;
   line-height: 6rem;
}
aside .btn-box-shadow:hover {
   box-shadow: none;
   transform: none;
}
@media (max-width: 1399px) {
   header .btn.btn-rounded.btn-small {
      padding: 10px 20px;
   }
}
@media (max-width: 1199px) {
   .navbar .navbar-nav .nav-link {
      font-size: 16px;
   }
   footer .newsletter-style-01 input {
      padding-left: 15px;
   }
   .footer-navbar a {
      padding-left: 10px;
      padding-right: 10px;
   }
   header .btn.btn-rounded.btn-small {
      padding: 8px 16px;
   }
}
@media (max-width: 991px) {
   .time-table-box {
      padding-top: 35px;
      padding-bottom: 35px;
   }
   header .btn.btn-rounded.btn-small {
      padding: 10px 26px;
   }
   header .header-button .btn.btn-transparent-white-light {
      color: var(--dark-gray);
      border-color: var(--dark-gray);
   }
   header .header-button .btn.btn-transparent-white-light:hover {
      border-color: var(--dark-gray);
      color: var(--white);
      background: var(--dark-gray);
   }
}
@media (max-width: 767px) {
   .countdown-style-02 .countdown-box span {
      top: 0;
   }
   .newsletter-style-01 .btn {
      position: absolute;
      margin-top: 0;
      width: auto;
      border-radius: 0 4px 4px 0;
   }
   .page-title-extra-large h1 {
      font-size: 5.625rem;
      line-height: 5.2rem;
   }
}
@media (max-width: 575px) {
   header .btn.btn-rounded.btn-small {
      padding: 8px 16px;
      font-size: 14px;
   }
}

/**/
.color-white {
   color: #fff !important;
}
.top-25 {
   top: 25%;
}
/* .container {
  max-width: 100% !important;
} */
.atropos-inner {
   display: flex;
   align-items: center;
   justify-content: center;
   max-height: 100vh;
}
.mw-unset {
   max-width: unset;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li a {
   padding: 10px 20px 10px 0;
}
.d-flex-100 {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

/**/
#intro a .play-button {
   border-color: #fff !important;
   background-color: transparent !important;
   transition: all 0.2s ease-in-out;
}

#intro a:hover .play-button {
   background-color: #fff !important;
}

#intro a .video-icon-medium .video-icon {
   font-size: 18px;
}

#intro a .video-icon-medium .video-icon i {
   color: #fff !important;
   transition: all 0.2s ease-in-out;
}

#intro a:hover .video-icon-medium .video-icon i {
   color: var(--base-color) !important;
}

#intro a > .play-button .btn.btn-link,
#intro a:hover > .play-button .btn.btn-link,
#intro a .play-button-text {
   background-color: transparent !important;
}

#galeria a img {
   opacity: 0.8;
   transition: all 0.2s ease-in-out;
}
#galeria a:hover img {
   opacity: 1;
}

#map,
#map * {
   padding: 0;
   height: 600px;
}
#map .map-container {
   width: 100%;
   height: 600px;
   overflow: hidden;
   position: relative;
}
#map .map-container iframe {
   width: 100%;
   height: 100%;
   border: 0;
}
#map .map-container::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #140232;
   pointer-events: none;
   mix-blend-mode: color;
}
footer {
   padding-top: 40px;
   padding-bottom: 40px;
}

@media (max-width: 991px) {
   .navbar-full-screen-menu-inner.bg-transparent,
   .navbar-modern-inner.bg-transparent,
   .navbar.bg-transparent {
      background-color: var(--base-color) !important;
   }
   header .header-button .btn.btn-transparent-white-light {
      color: var(--white);
      background-color: transparent;
      border-color: var(--white);
   }
   header .header-button a:hover.btn.btn-transparent-white-light {
      color: var(--base-color);
      background-color: var(--white);
      border-color: var(--white);
   }
}
.navbar-toggler-line,
.swiper-pagination-style-4.dark .swiper-pagination-bullet {
   background: var(--white);
}
